<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Link Room to Meeting</title>
</head>

<body>
<div>
  <h2>Link Room to Meeting</h2>
  <form action="/addroomtomeeting" method="post">
    <label for="meetingId">Meeting ID:</label><br>
    <input type="text" id="meetingId" name="meetingId"><br>
    <label for="roomId">Room ID:</label><br>
    <input type="text" id="roomId" name="roomId"><br><br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>

</html>
