@{
    ViewData["Title"] = "Home Page";
}
<body class="body_home">
    <div class="main_page_ui_box">
        <h1 class="display-4">Welcome to CrockPot</h1>
        <h2>Find your perfect recipe</h2>
        <a asp-controller="Recipes" asp-action="RecipeSearch" class="btn btn-primary">Search Recipe</a>
    </div>
</body>
