@{
    ViewData["Title"] = "Recipe Search";
}

<body class="body_home">
    <div class="main_page_ui_box">
        <h1 class="display-4">Welcome to CrockPot</h1>
        <h2>Find your perfect recipe</h2>

        <form asp-controller="Recipes" asp-action="SearchByFilter" method="get">
            <input type="text" name="name" placeholder="Enter recipe name" />

            <div>
                <label>Select Ingredients</label>
                <br>
                <input class="input-box" type="text" placeholder="Search..." id="ingredientsSearch">
                <div class="scrollable-container">
                    @foreach (var ingredient in ViewBag.allIngredients)
                    {
                        <div>
                            <input type="checkbox" name="selectedIngredients" value="@ingredient.Id">
                            <label>@ingredient.Name</label>
                        </div>
                    }
                </div>
            </div>

            <div>
                <label>Select Categories</label>
                <br />
                <input class="input-box" type="text" placeholder="Search..." id="categoriesSearch">
                <div class="scrollable-container">
                    @foreach (var category in ViewBag.allCategories)
                    {
                        <div>
                            <input type="checkbox" name="selectedCategories" value="@category.Id">
                            <label>@category.Name</label>
                        </div>
                    }
                </div>
            </div>
            <br />

            <button type="submit">Search</button>
        </form>

    @section Scripts {
        <script>
            function filterCategoriesCheckboxes() {
                var searchCategoryValue = document.getElementById("categoriesSearch").value.toLowerCase();
                var categoryCheckboxes = document.querySelectorAll('input[name="selectedCategories"]');

                categoryCheckboxes.forEach(function (checkbox) {
                    var label = checkbox.nextElementSibling;
                    var categoryName = label.textContent.toLowerCase();

                    if (categoryName.includes(searchCategoryValue)) {
                        checkbox.parentNode.style.display = 'block';
                    } else {
                        checkbox.parentNode.style.display = 'none';
                    }
                });
            }

            function filterIngredientsCheckboxes() {
                var searchIngredientValue = document.getElementById("ingredientsSearch").value.toLowerCase();
                var ingredientCheckboxes = document.querySelectorAll('input[name="selectedIngredients"]');

                ingredientCheckboxes.forEach(function (checkbox) {
                    var label = checkbox.nextElementSibling;
                    var ingredientName = label.textContent.toLowerCase();

                    if (ingredientName.includes(searchIngredientValue)) {
                        checkbox.parentNode.style.display = 'block';
                    } else {
                        checkbox.parentNode.style.display = 'none';
                    }
                });
            }

            document.getElementById("categoriesSearch").addEventListener("input", filterCategoriesCheckboxes);

            document.getElementById("ingredientsSearch").addEventListener("input", filterIngredientsCheckboxes);
        </script>
    }
</body>
