html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #e29ef0;
}

.body_home {
    background-color: #e29ef0;
    background-image: url('../Images/background6-new.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    color: #68029c;
}

.scrollable-container {
    border: 2px solid #68029c;
    border-radius: 5px;
    width: 30vw;
    height: 20vh;
    overflow-y: scroll;
}

.scrollable-container::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
    background-color: #a95fb8;
}

.scrollable-container::-webkit-scrollbar-thumb {
    background: #68029c;
    border-radius: 10px;
}

.input-box {
    border-radius: 10px;
}



.display_box {
    border: none;
    display: inline-flex;
    margin-block: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #C67FD3;
    width: 25vw;
    min-width: 300px;
}

    .display_box:hover {
        background-color: #C159D4;
    }
.display_box_text {
    flex: 1;
    padding: 10px;
}

.display_box_image {
    padding: 10px;
    overflow: hidden;
}

.display_box_image img {
    max-width: 8vw;
    height: auto;
    border-radius: 10px;  
    min-width: 70px;
}

.main_page_ui_box {
    display: block;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #C67FD3;
    width: 40vw;
    min-width:300px;
    height: 90vh;
}


.stars_box{
    width: 20vh;
    min-width:300px;
    height:auto;
}






#star-rating {
    display: inline-flex;
    background: transparent;
    direction: rtl;
}

    #star-rating input[type="radio"] {
        display: none;
    }

    #star-rating label {
        display: block;
        width: 20px;
        height: 20px;
        background: url('../Images/star.png') no-repeat;
    }

    #star-rating input[type="radio"]:checked ~ label {
        background: url('../Images/star_checked.png') no-repeat;
    }
